
.toggle-nav
    .logo
        a(href="#")
            img(src="../assets/img/logo.png", alt="")
    .toggle-icon
        span
        span
        span
nav.navbar.scrolling-navbar
    .container
        ul
            li
                a.active(href="#sec1") Sản phẩm
            li
                a(href="#sec2") Vấn đề về da
            li
                a(href="#sec3") Hiệu quả sử dụng
            li.logo
                a(href="#")
                    img(src="../assets/img/logo.png", alt="")
            li
                a(href="#sec4") Chứng nhận 
            li
                a(href="#sec5") Chia sẻ khách hàng
            li
                a(href="#sec6") Mua hàng