nav.navbar.scrolling-navbar
    .container
        ul
            li
                a.active(href="#") Sản phẩm
            li
                a(href="#") Vấn đề về da
            li
                a(href="#") Hiệu quả sử dụng
            li.logo
                a(href="#")
                    img(src="../assets/img/logo.png", alt="")
            li
                a(href="#") Chia sẻ khách hàng
            li
                a(href="#") Chứng nhận 
            li
                a(href="#") Mua hàng