.container{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}



@each $p in(
    576px 540px,
    768px 720px,
    992px 960px,
    1200px 1140px
){
    @media (min-width: #{nth($p,1)}){
        .container{ max-width: #{nth($p,2)};}
    }
}

.row{
    display: flex;
    flex-wrap: wrap;
    // border: 2px solid #000;
}
.left{
    flex-basis: 40%;
    max-width: 40%;
    // border: 1px solid red;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.right{
    flex-basis: 60%;
    max-width: 60%;
    // border: 1px solid green;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
[class*="col"]{
    flex: 1;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.col-3{
    flex-basis: 33.3333%;
}
@media (max-width: 767px){
    .col{
        flex-basis: 100% !important;
    }
}
.section-1{
    position: relative;
    overflow: hidden;
    .hoamai1{
        position: absolute;
        top: 35%;
        left: -5px;
        @include transform(rotate(45deg));
        max-width: 90px;
        opacity: .7;
        z-index: -1;
    }
    .hoamai2{
        position: absolute;
        top: 60%;
        left: 15%;
        @include transform(rotate(25deg));
        max-width: 50px;
        opacity: .5;
        z-index: -1;
    }
    .hoamai3{
        position: absolute;
        top: 20%;
        right: -25px;
        @include transform(rotate(75deg));
        max-width: 120px;
        opacity: .6;
        z-index: -1;
    }
    .daylua-tr{
        position: absolute;
        left: -400px;
        top: -50px;
        max-width: 1000px;
        @include transform(rotate(20deg));
        opacity: .5;
        z-index: -1;
    }
    .daylua-p{
        position: absolute;
        right: -250px;
        bottom: 0;
        max-width: 1000px;
        opacity: .5;
        z-index: -1;
    }
}
.section-3-extra{
    position: relative;
    overflow: hidden;
    .hoamai1{
        position: absolute;
        top: 35%;
        left: -5px;
        @include transform(rotate(45deg));
        max-width: 90px;
        opacity: .7;
        z-index: -1;
    }
    .hoamai2{
        position: absolute;
        top: 60%;
        left: 15%;
        @include transform(rotate(25deg));
        max-width: 50px;
        opacity: .5;
        z-index: -1;
    }
    .hoamai3{
        position: absolute;
        top: 20%;
        right: -25px;
        @include transform(rotate(75deg));
        max-width: 120px;
        opacity: .6;
        z-index: -1;
    }
    .hoamai4{
        position: absolute;
        top: 20%;
        left: 20%;
        @include transform(rotate(105deg));
        max-width: 90px;
        opacity: .4;
        z-index: -1;
    }
    .hoamai5{
        position: absolute;
        top: 50%;
        right: 20%;
        @include transform(rotate(75deg));
        max-width: 60px;
        opacity: .6;
        z-index: -1;
    }
    .hoamai6{
        position: absolute;
        bottom: 20%;
        left: 35%;
        @include transform(rotate(175deg));
        max-width: 40px;
        opacity: .8;
        z-index: -1;
    }
    .hoamai7{
        position: absolute;
        bottom: 2%;
        right: 0;
        @include transform(rotate(35deg));
        max-width: 130px;
        opacity: .5;
        z-index: -1;
    }
    .daylua-tr{
        position: absolute;
        left: -400px;
        top: -50px;
        max-width: 1000px;
        @include transform(rotate(20deg));
        opacity: .5;
        z-index: -1;
    }
    .daylua-p{
        position: absolute;
        right: -250px;
        bottom: 0;
        max-width: 1000px;
        opacity: .5;
        z-index: -1;
    }
}
.section-2{
    background-image: url('../assets/img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
    padding-top: 350px;
    position: relative;
    .hoamai{
        position: absolute;
        top: 0;
        left: 60%;
        @include transform(translate(-50%,-50%));
        max-width: 80px;
        z-index: 1;
        opacity: .7;
    }
}
@media (max-width: 767px){
    .section-2{
        background-image: url('../assets/img/bg-mobile.png');
    }
}
.section-3{
    position: relative;
    overflow: hidden;
    .hoamai{
        position: absolute;
        bottom: -5px;
        left: 60%;
        @include transform(translateX(-50%));
        max-width: 70px;
        z-index: -1;
    }
    .hoamai1{
        position: absolute;
        top: 20%;
        left: -5px;
        @include transform(rotate(65deg));
        max-width: 120px;
        opacity: .5;
        z-index: -1;
    }
    .hoamai2{
        position: absolute;
        top: 60%;
        left: 15%;
        @include transform(rotate(25deg));
        max-width: 50px;
        opacity: .5;
        z-index: -1;
    }
    .hoamai3{
        position: absolute;
        bottom: 20%;
        right: -55px;
        @include transform(rotate(15deg));
        max-width: 100px;
        opacity: .7;
        z-index: -1;
    }
    .daylua-tr{
        position: absolute;
        left: -400px;
        top: 20%;
        max-width: 1000px;
        @include transform(rotate(10deg));
        opacity: .5;
        z-index: -1;
    }
    .daylua-p{
        position: absolute;
        right: -320px;
        top: 0;
        max-width: 1000px;
        opacity: .5;
        z-index: -1;
    }
}
.section-seperate{
    width: 100%;
}
.section-4{
    background-image: url('../assets/img/bg2.png');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    .pt-spec{
        padding-top: 70vw;
    }
}
@media (max-width: 767px){
    .section-4{
        background-image: url('../assets/img/bg2-mobile.png');
    }
}

[class*="width-"]{
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.row-mobile{
    display: none;
}
@media (min-width: 992px){
    .width-md-80{
        max-width: 80%;
    }
}
@media (max-width: 991px){
    .section-2{
        padding-top: 200px;
    }
    .section-4{
        .pt-spec{
            padding-top: 130vw;
        }
    }
    .row-pc{
        display: none;
    }
    .row-mobile{
        display: flex;
    }
}

@media (max-width: 767px){
    .row-1{
        .left,
        .right{
            flex-basis: 100%;
            max-width: 100%;
        }
    }
    .table{
        .tr{
            flex-wrap: wrap;
            .td{
                flex-basis: 100%;
            }
        }
    }
    .card-group{
        margin-left: .25em !important;
        margin-right: .25em !important;
        .col-3{
            flex-basis: 50%;
            max-width: 50%;
        }
    }
    .section-4{
        margin-top: -120px;
    }
}