@font-face {
    font-family: 'MuliLight';
    src: url('fonts/MuliLight.eot');
    src: url('fonts/MuliLight.eot') format('embedded-opentype'),
         url('fonts/MuliLight.woff2') format('woff2'),
         url('fonts/MuliLight.woff') format('woff'),
         url('fonts/MuliLight.ttf') format('truetype'),
         url('fonts/MuliLight.svg#MuliLight') format('svg');
}

@font-face {
    font-family: 'MuliLightItalic';
    src: url('fonts/MuliLightItalic.eot');
    src: url('fonts/MuliLightItalic.eot') format('embedded-opentype'),
         url('fonts/MuliLightItalic.woff2') format('woff2'),
         url('fonts/MuliLightItalic.woff') format('woff'),
         url('fonts/MuliLightItalic.ttf') format('truetype'),
         url('fonts/MuliLightItalic.svg#MuliLightItalic') format('svg');
}

@font-face {
    font-family: 'MuliRegular';
    src: url('fonts/MuliRegular.eot');
    src: url('fonts/MuliRegular.eot') format('embedded-opentype'),
         url('fonts/MuliRegular.woff2') format('woff2'),
         url('fonts/MuliRegular.woff') format('woff'),
         url('fonts/MuliRegular.ttf') format('truetype'),
         url('fonts/MuliRegular.svg#MuliRegular') format('svg');
}

@font-face {
    font-family: 'MuliBlackItalic';
    src: url('fonts/MuliBlackItalic.eot');
    src: url('fonts/MuliBlackItalic.eot') format('embedded-opentype'),
         url('fonts/MuliBlackItalic.woff2') format('woff2'),
         url('fonts/MuliBlackItalic.woff') format('woff'),
         url('fonts/MuliBlackItalic.ttf') format('truetype'),
         url('fonts/MuliBlackItalic.svg#MuliBlackItalic') format('svg');
}

@font-face {
    font-family: 'MuliSemiBold';
    src: url('fonts/MuliSemiBold.eot');
    src: url('fonts/MuliSemiBold.eot') format('embedded-opentype'),
         url('fonts/MuliSemiBold.woff2') format('woff2'),
         url('fonts/MuliSemiBold.woff') format('woff'),
         url('fonts/MuliSemiBold.ttf') format('truetype'),
         url('fonts/MuliSemiBold.svg#MuliSemiBold') format('svg');
}

@font-face {
    font-family: 'MuliSemiBoldItalic';
    src: url('fonts/MuliSemiBoldItalic.eot');
    src: url('fonts/MuliSemiBoldItalic.eot') format('embedded-opentype'),
         url('fonts/MuliSemiBoldItalic.woff2') format('woff2'),
         url('fonts/MuliSemiBoldItalic.woff') format('woff'),
         url('fonts/MuliSemiBoldItalic.ttf') format('truetype'),
         url('fonts/MuliSemiBoldItalic.svg#MuliSemiBoldItalic') format('svg');
}

@font-face {
    font-family: 'RobotoItalic';
    src: url('fonts/RobotoItalic.eot');
    src: url('fonts/RobotoItalic.eot') format('embedded-opentype'),
         url('fonts/RobotoItalic.woff2') format('woff2'),
         url('fonts/RobotoItalic.woff') format('woff'),
         url('fonts/RobotoItalic.ttf') format('truetype'),
         url('fonts/RobotoItalic.svg#RobotoItalic') format('svg');
}

@font-face {
    font-family: 'RobotoThin';
    src: url('fonts/RobotoThin.eot');
    src: url('fonts/RobotoThin.eot') format('embedded-opentype'),
         url('fonts/RobotoThin.woff2') format('woff2'),
         url('fonts/RobotoThin.woff') format('woff'),
         url('fonts/RobotoThin.ttf') format('truetype'),
         url('fonts/RobotoThin.svg#RobotoThin') format('svg');
}

@font-face {
    font-family: 'UTMAndrogyne_0';
    src: url('fonts/UTMAndrogyne_0.eot');
    src: url('fonts/UTMAndrogyne_0.eot') format('embedded-opentype'),
         url('fonts/UTMAndrogyne_0.woff2') format('woff2'),
         url('fonts/UTMAndrogyne_0.woff') format('woff'),
         url('fonts/UTMAndrogyne_0.ttf') format('truetype'),
         url('fonts/UTMAndrogyne_0.svg#UTMAndrogyne_0') format('svg');
}

@font-face {
    font-family: 'UTMGod_sWordRItalic';
    src: url('fonts/UTMGod_sWordRItalic.eot');
    src: url('fonts/UTMGod_sWordRItalic.eot') format('embedded-opentype'),
         url('fonts/UTMGod_sWordRItalic.woff2') format('woff2'),
         url('fonts/UTMGod_sWordRItalic.woff') format('woff'),
         url('fonts/UTMGod_sWordRItalic.ttf') format('truetype'),
         url('fonts/UTMGod_sWordRItalic.svg#UTMGod_sWordRItalic') format('svg');
}


@font-face {
    font-family: 'MuliBlack';
    src: url('fonts/MuliBlack.eot');
    src: url('fonts/MuliBlack.eot') format('embedded-opentype'),
         url('fonts/MuliBlack.woff2') format('woff2'),
         url('fonts/MuliBlack.woff') format('woff'),
         url('fonts/MuliBlack.ttf') format('truetype'),
         url('fonts/MuliBlack.svg#MuliBlack') format('svg');
}


@font-face {
    font-family: 'MuliBold';
    src: url('fonts/MuliBold.eot');
    src: url('fonts/MuliBold.eot') format('embedded-opentype'),
         url('fonts/MuliBold.woff2') format('woff2'),
         url('fonts/MuliBold.woff') format('woff'),
         url('fonts/MuliBold.ttf') format('truetype'),
         url('fonts/MuliBold.svg#MuliBold') format('svg');
}

@font-face {
    font-family: 'MuliBoldItalic';
    src: url('fonts/MuliBoldItalic.eot');
    src: url('fonts/MuliBoldItalic.eot') format('embedded-opentype'),
         url('fonts/MuliBoldItalic.woff2') format('woff2'),
         url('fonts/MuliBoldItalic.woff') format('woff'),
         url('fonts/MuliBoldItalic.ttf') format('truetype'),
         url('fonts/MuliBoldItalic.svg#MuliBoldItalic') format('svg');
}

@font-face {
    font-family: 'MuliExtraBold';
    src: url('fonts/MuliExtraBold.eot');
    src: url('fonts/MuliExtraBold.eot') format('embedded-opentype'),
         url('fonts/MuliExtraBold.woff2') format('woff2'),
         url('fonts/MuliExtraBold.woff') format('woff'),
         url('fonts/MuliExtraBold.ttf') format('truetype'),
         url('fonts/MuliExtraBold.svg#MuliExtraBold') format('svg');
}

@font-face {
    font-family: 'DancingScriptBold';
    src: url('fonts/DancingScriptBold.eot');
    src: url('fonts/DancingScriptBold.eot') format('embedded-opentype'),
         url('fonts/DancingScriptBold.woff2') format('woff2'),
         url('fonts/DancingScriptBold.woff') format('woff'),
         url('fonts/DancingScriptBold.ttf') format('truetype'),
         url('fonts/DancingScriptBold.svg#DancingScriptBold') format('svg');
}

@font-face {
    font-family: 'AvenirNextBoldItalic';
    src: url('fonts/AvenirNextBoldItalic.eot');
    src: url('fonts/AvenirNextBoldItalic.eot') format('embedded-opentype'),
         url('fonts/AvenirNextBoldItalic.woff2') format('woff2'),
         url('fonts/AvenirNextBoldItalic.woff') format('woff'),
         url('fonts/AvenirNextBoldItalic.ttf') format('truetype'),
         url('fonts/AvenirNextBoldItalic.svg#AvenirNextBoldItalic') format('svg');
}

html,body,td,th,input,button,select{
    font-family: 'MuliRegular', sans-serif;
    line-height: 1.5;
    font-weight: normal;
    font-size: 10px;
    -webkit-text-size-adjust: 100%;
}
body{
    -webkit-text-size-adjust: 100%;
}
@each $vw in (
    320px 1.4,
    576px 1.6,
    768px 1.8
){
    @media screen and (min-width: #{nth($vw,1)}){
        html,body,td,th,input,button,select{
            font-size: 10px*nth($vw,2);
        }
    }
}

.navbar{
    a{
        font-family: 'MuliExtraBold', sans-serif;
    }
}

.intro-text{
    font-family: 'DancingScriptBold';
}
.slogan{
    font-family: 'UTMGod_sWordRItalic';
    font-style: italic;
}

.article{
    &_title{
        font-family: 'MuliBlack';
    }
    &_subtitle{
        font-family: 'DancingScriptBold';
    }
    &_content{
        font-family: 'MuliLightItalic';
    }
}

.footer{
    p{
        font-family: 'MuliSemiBold';
        font-size: 1.2em;
    }
}
.btn{
    font-family: 'MuliBold';
    font-size: 1.3em;
}

.font-bold{
    font-family: 'MuliBold';
}
.font-semi-bold-italic{
    font-family: 'MuliSemiBoldItalic';
}

.text-large{
    font-size: 3rem;
}
.text-medium{
    font-size: 1.2rem;
}