$gold: #BE975F;
$white: #fff;
$blue: #001080;

// TEXTs
$text-colors: () !default;
$text-colors: map-merge((
    "text-gold": $gold,
    "text-white": $white,
    "text-blue": $blue
), $text-colors);

@each $name,$color in $text-colors{
    .#{$name}{
        color: $color;
    }
}