extends ../layouts/layout.pug
block append main-content
    .section-1.mt-5
        img.hoamai1(src="assets/hoamai.svg", alt="")
        img.hoamai2(src="assets/hoamai.svg", alt="")
        img.hoamai3(src="assets/hoamai.svg", alt="")
        img.daylua-tr(src="assets/daylua-tr.svg", alt="")
        img.daylua-p(src="assets/daylua-p.svg", alt="")
        .container
            .row.width-md-80
                .col.font-light-italic.text-blue.text-medium.text-center “Thần dược” Nhật Bản – Nước uống đẹp da 82x Collagen và Placenta chính là phương thức bí truyền ngàn năm giúp phụ nữ xứ sở hoa Anh Đào  gìn giữ vẻ đẹp và tuổi thanh xuân vĩnh cửu. 
            .row.row-1
                .left
                    #sec1.step_num.mt-3
                        img(src="assets/step1.svg", alt="")
                .right
                    .article.mt-3
                        .article_title
                            h1
                                | Thần dược nhật bản
                                br
                                |82x collagen &amp; placenta
                        //- .article_subtitle
                        //-     h2 Bí kíp giữ gìn tuổi thanh xuân
                        //- .article_content
                        //-     p Giúp chăm sóc và phục hồi làn da từ sâu bên trong tận tế bào. Qua 20 năm nghiên cứu phát triển 82x Beauty đã sáng chế ra thành phần tinh chất ưu việt và công thức tái tạo tế bào da an toàn, hiệu quả nhất trên thị trường.  
            .row.row-pc
                .left
                    .ads_1.mt-5
                        img(alt="" src="assets/left-product.svg")
                .right
                    .headline
                        .number
                            img(src="assets/num-1.svg", alt="")
                        .line
                    .gradient-text
                        img(src="assets/8xcollagen.png", alt="")
                    .title-grey.font-bold Trẻ hóa làn da, Thướt tha dáng ngọc
                    .article
                        .article_content
                            p Công thức hàm lượng collagen tối ưu kết hợp với thành phần dưỡng chất thông minh, ưu việt giúp trẻ hóa làn da hiệu quả, là phẳng nếp nhăn, và hồi sinh collagen tự thân cho vẻ đẹp rạng ngời tỏa sáng.
                    //- .table
                    //-     .tr
                    //-         .td
                    //-             .field
                    //-                 .order
                    //-                     svg.icon-drop(width='24', height='24', viewBox='0 0 15.37 21.94')
                    //-                         path(d='M12.35,6.12A54.42,54.42,0,0,0,8.18.23a.64.64,0,0,0-1,0A55.64,55.64,0,0,0,3,6.12c-2,3.31-3,6-3,8.13a7.69,7.69,0,1,0,15.37,0c0-2.09-1-4.82-3-8.13Z', fill='#2e46b9')
                    //-                         text(x='50%' y='50%' text-anchor='middle' stroke='#b4d8ff' stroke-width='0', dy='.5em') 1
                    //-                 .content Chống lão hóa da
                    //-             .field
                    //-                 .order
                    //-                     svg.icon-drop(width='24', height='24', viewBox='0 0 15.37 21.94')
                    //-                         path(d='M12.35,6.12A54.42,54.42,0,0,0,8.18.23a.64.64,0,0,0-1,0A55.64,55.64,0,0,0,3,6.12c-2,3.31-3,6-3,8.13a7.69,7.69,0,1,0,15.37,0c0-2.09-1-4.82-3-8.13Z', fill='#2e46b9')
                    //-                         text(x='50%' y='50%' text-anchor='middle' stroke='#b4d8ff' stroke-width='0', dy='.5em') 2
                    //-                 .content Chống oxy hóa cơ thể
                    //-             .field
                    //-                 .order
                    //-                     svg.icon-drop(width='24', height='24', viewBox='0 0 15.37 21.94')
                    //-                         path(d='M12.35,6.12A54.42,54.42,0,0,0,8.18.23a.64.64,0,0,0-1,0A55.64,55.64,0,0,0,3,6.12c-2,3.31-3,6-3,8.13a7.69,7.69,0,1,0,15.37,0c0-2.09-1-4.82-3-8.13Z', fill='#2e46b9')
                    //-                         text(x='50%' y='50%' text-anchor='middle' stroke='#b4d8ff' stroke-width='0', dy='.5em') 3
                    //-                 .content Trắng da tự nhiên, bền vững
                    //-         .td
                    //-             .field
                    //-                 .order
                    //-                     svg.icon-drop(width='24', height='24', viewBox='0 0 15.37 21.94')
                    //-                         path(d='M12.35,6.12A54.42,54.42,0,0,0,8.18.23a.64.64,0,0,0-1,0A55.64,55.64,0,0,0,3,6.12c-2,3.31-3,6-3,8.13a7.69,7.69,0,1,0,15.37,0c0-2.09-1-4.82-3-8.13Z', fill='#2e46b9')
                    //-                         text(x='50%' y='50%' text-anchor='middle' stroke='#b4d8ff' stroke-width='0', dy='.5em') 4
                    //-                 .content Cung cấp dưỡng ẩm sâu cho da
                    //-             .field
                    //-                 .order
                    //-                     svg.icon-drop(width='24', height='24', viewBox='0 0 15.37 21.94')
                    //-                         path(d='M12.35,6.12A54.42,54.42,0,0,0,8.18.23a.64.64,0,0,0-1,0A55.64,55.64,0,0,0,3,6.12c-2,3.31-3,6-3,8.13a7.69,7.69,0,1,0,15.37,0c0-2.09-1-4.82-3-8.13Z', fill='#2e46b9')
                    //-                         text(x='50%' y='50%' text-anchor='middle' stroke='#b4d8ff' stroke-width='0', dy='.5em') 5
                    //-                 .content Tăng sinh collagen nội sinh
                    .headline.mt-2    
                        .line
                    .row.card-group
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-1.svg", alt="")
                                .card-title 100,000mg Collagen chiết xuất từ cá
                                .card-body Giúp đẩy lùi các dấu hiệu lão hoá sau 1 tháng sử dụng: Giảm chảy xệ da, ngăn ngừa và xoá mờ nếp nhăn.
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-2.svg", alt="")
                                .card-title 82 loại thực phẩm lên men
                                .card-body Tăng cường sức đề kháng cho cơ thể, giúp cơ thể bạn đạt được các thông số lý tưởng, mang lại vóc dáng đẹp, cân đối.
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-3.svg", alt="")
                                .card-title Chiết xuất hoa anh đào
                                .card-body Giúp thu nhỏ lỗ chân lông và khiến da căng mịn, trắng hồng lên từng ngày. 
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-4.svg", alt="")
                                .card-title Chiết xuất sụn cá mập
                                .card-body Cung cấp độ ẩm cho da, ức chế xuất hiện nếp nhăn. 
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-5.svg", alt="")
                                .card-title Hyaluronic Axit
                                .card-body Tăng cường độ ẩm cho da, ngăn ngừa nếp nhăn.
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-6.svg", alt="")
                                .card-title Vitamin E, B1, B2, B6
                                .card-body Thúc đẩy Collagen nội sinh.
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-12.svg", alt="")
                                .card-title Vitamin D
                                .card-body Giúp xương khớp chắc khỏe, hỗ trợ cơ thể sản sinh hormoon Leptin – kiểm soát tốt cảm giác thèm ăn, tránh ăn quá nhiều gây tăng cân
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-13.svg", alt="")
                                .card-title Glucosamine
                                .card-body Thiết lập sự liên kết chặt chẽ giữa collagen và eslatin, làm đầy sẹo, nếp nhăn giúp da căng mịn, tươi trẻ.
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-14.svg", alt="")
                                .card-title Elastin thủy phân
                                .card-body Là loại protein quan trọng có tác dụng kết nối các tế bào gốc giúp duy trì độ đàn hồi, chống chảy xệ cho da.

            .row.row-mobile 
                .left
                    .ads_1.mt-5
                        img(src="assets/left-product.svg", alt="")
                .right
                    .headline
                        .number
                            img(src="assets/num-1.svg", alt="")
                        .line
                    .gradient-text
                        img(src="assets/8xcollagen.png", alt="")
                    .title-grey.font-bold Trẻ hóa làn da, Thướt tha dáng ngọc
                    .article
                        .article_content
                            p Công thức hàm lượng collagen tối ưu kết hợp với thành phần dưỡng chất thông minh, ưu việt giúp trẻ hóa làn da hiệu quả, là phẳng nếp nhăn, và hồi sinh collagen tự thân cho vẻ đẹp rạng ngời tỏa sáng.
                    
                .row.card-group
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-1.svg", alt="")
                                .card-title 100,000mg Collagen chiết xuất từ cá
                                .card-body Giúp đẩy lùi các dấu hiệu lão hoá sau 1 tháng sử dụng: Giảm chảy xệ da, ngăn ngừa và xoá mờ nếp nhăn.
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-2.svg", alt="")
                                .card-title 82 loại thực phẩm lên men
                                .card-body Tăng cường sức đề kháng cho cơ thể, giúp cơ thể bạn đạt được các thông số lý tưởng, mang lại vóc dáng đẹp, cân đối.
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-3.svg", alt="")
                                .card-title Chiết xuất hoa anh đào
                                .card-body Giúp thu nhỏ lỗ chân lông và khiến da căng mịn, trắng hồng lên từng ngày. 
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-4.svg", alt="")
                                .card-title Chiết xuất sụn cá mập
                                .card-body Cung cấp độ ẩm cho da, ức chế xuất hiện nếp nhăn. 
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-5.svg", alt="")
                                .card-title Hyaluronic Axit
                                .card-body Tăng cường độ ẩm cho da, ngăn ngừa nếp nhăn.
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-6.svg", alt="")
                                .card-title Vitamin E, B1, B2, B6
                                .card-body Thúc đẩy Collagen nội sinh.  
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-12.svg", alt="")
                                .card-title Vitamin D
                                .card-body Giúp xương khớp chắc khỏe, hỗ trợ cơ thể sản sinh hormoon Leptin – kiểm soát tốt cảm giác thèm ăn, tránh ăn quá nhiều gây tăng cân
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-13.svg", alt="")
                                .card-title Glucosamine
                                .card-body Thiết lập sự liên kết chặt chẽ giữa collagen và eslatin, làm đầy sẹo, nếp nhăn giúp da căng mịn, tươi trẻ.
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-14.svg", alt="")
                                .card-title Elastin thủy phân
                                .card-body Là loại protein quan trọng có tác dụng kết nối các tế bào gốc giúp duy trì độ đàn hồi, chống chảy xệ cho da. 
            .row.row-pc
                .right
                    .headline
                        .line
                        .number.pl-2
                            img(src="assets/num-2.svg", alt="")
                    
                    .gradient-text
                        img.ml-auto(src="assets/8xplacenta.png", alt="")
                    .title-grey.font-bold.text-right Tìm lại sắc xuân, Hân hoan cảm xúc
                    .article.text-right
                        .article_content
                            p Công thức hàm lượng placenta tối ưu kết hợp với các thành phần dưỡng chất thông minh, ưu việt giúp trẻ hóa tế bào da kì diệu, thổi bay sạm nám, tàn nhang, và hồi sinh nội tiết nữ tự nhiên, cho vẻ đẹp căng tràn sắc xuân.
                    .headline.mt-2    
                        .line

                    .row.card-group
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-7.svg", alt="")
                                .card-title 450.000mg Placenta
                                .card-body Giúp đẩy lùi các dấu hiệu lão hoá sau 1 tháng sử dụng: Giảm chảy xệ da, ngăn ngừa và xoá mờ nếp nhăn.
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-2.svg", alt="")
                                .card-title 82 loại thực phẩm lên men
                                .card-body Tăng cường sức đề kháng cho cơ thể, giúp cơ thể bạn đạt được các thông số lý tưởng, mang lại vóc dáng đẹp, cân đối.
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-5.svg", alt="")
                                .card-title Hyaluronic Acid, Coenzyme Q10
                                .card-body Tăng tuần hoàn máu, trẻ hoá tế bào, giúp tăng độ ẩm làn da, ngừa nếp nhăn.
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-8.svg", alt="")
                                .card-title Chiết xuất tổ yến
                                .card-body Ngăn ngừa oxy hoá, chống lão hoá, giúp cơ thể trẻ khoẻ, ngừa ung thư.
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-5.svg", alt="")
                                .card-title Vitamin E, B1, B2, B6
                                .card-body Đẩy lùi dấu hiệu lão hoá, giảm chảy xệ, xoá mờ nếp nhăn.
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-9.svg", alt="")
                                .card-title Chiết xuất mầm nho
                                .card-body Căn bằng độ ẩm ngăn ngừa nếp nhăn.
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-15.svg", alt="")
                                .card-title Coenzym Q10
                                .card-body Chống oxy hóa, ngăn ngừa lão hóa và hỗ trợ giải phóng năng lượng dư thừa của cơ thể.
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-1.svg", alt="")
                                .card-title Collagen peptide
                                .card-body Giúp trẻ hóa da, tăng độ đàn hồi, giảm nếp nhăn mà còn hỗ trợ các vấn đề về xương khớp.
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-16.svg", alt="")
                                .card-title Chiết xuất quả dứa
                                .card-body Giúp bảo vệ lớp hạ bì và duy trì độ ẩm của da, bảo vệ collagen, elastin…dưới da.
                .left
                    .ads_1.mt-5
                        img(src="assets/right-product.svg", alt="")
            .row.row-mobile
                .right
                    .headline
                        .line
                        .number.pl-2
                            img(src="assets/num-2.svg", alt="")
                    
                    .gradient-text
                        img.ml-auto(src="assets/8xplacenta.png", alt="")
                    .title-grey.font-bold.text-right Tìm lại sắc xuân, Hân hoan cảm xúc
                    .article
                        .article_content.text-right
                            p Công thức hàm lượng placenta tối ưu kết hợp với các thành phần dưỡng chất thông minh, ưu việt giúp trẻ hóa tế bào da kì diệu, thổi bay sạm nám, tàn nhang, và hồi sinh nội tiết nữ tự nhiên, cho vẻ đẹp căng tràn sắc xuân.
                .left
                    .ads_1.mt-5
                        img(src="assets/right-product.svg", alt="")
                .row.card-group
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-7.svg", alt="")
                                .card-title 450.000mg Placenta
                                .card-body Giúp đẩy lùi các dấu hiệu lão hoá sau 1 tháng sử dụng: Giảm chảy xệ da, ngăn ngừa và xoá mờ nếp nhăn.
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-2.svg", alt="")
                                .card-title 82 loại thực phẩm lên men
                                .card-body Tăng cường sức đề kháng cho cơ thể, giúp cơ thể bạn đạt được các thông số lý tưởng, mang lại vóc dáng đẹp, cân đối.
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-5.svg", alt="")
                                .card-title Hyaluronic Acid, Coenzyme Q10
                                .card-body Tăng tuần hoàn máu, trẻ hoá tế bào, giúp tăng độ ẩm làn da, ngừa nếp nhăn.
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-8.svg", alt="")
                                .card-title Chiết xuất tổ yến
                                .card-body Ngăn ngừa oxy hoá, chống lão hoá, giúp cơ thể trẻ khoẻ, ngừa ung thư.
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-5.svg", alt="")
                                .card-title Vitamin E, B1, B2, B6
                                .card-body Đẩy lùi dấu hiệu lão hoá, giảm chảy xệ, xoá mờ nếp nhăn.
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-9.svg", alt="")
                                .card-title Chiết xuất mầm nho
                                .card-body Căn bằng độ ẩm ngăn ngừa nếp nhăn.
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-15.svg", alt="")
                                .card-title Coenzym Q10
                                .card-body Chống oxy hóa, ngăn ngừa lão hóa và hỗ trợ giải phóng năng lượng dư thừa của cơ thể.
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-1.svg", alt="")
                                .card-title Collagen peptide
                                .card-body Giúp trẻ hóa da, tăng độ đàn hồi, giảm nếp nhăn mà còn hỗ trợ các vấn đề về xương khớp.
                        .col-3
                            .card
                                .card-img
                                    img(src="assets/icon-16.svg", alt="")
                                .card-title Chiết xuất quả dứa
                                .card-body Giúp bảo vệ lớp hạ bì và duy trì độ ẩm của da, bảo vệ collagen, elastin…dưới da.
    .section-2.pb-1
        img.hoamai(src="assets/hoamai.svg", alt="")
        .container
            .row
                .col
                    .step_num.mt-3#sec2
                        img(src="assets/step2.svg", alt="")
                .col
                    .article.mt-3
                        .article_title
                            h1.text-gold Các vấn đề về da
                    .article_content.text-white
                            p Hơn 90% phụ nữ từ độ tuổi 25 trở đi gặp các vấn đề về lão hoá, thể hiện rõ nhất qua làn da mất dần vẻ đẹp về thời gian.
            .row
                .face
                    .face-item
                        .face-img
                            img.face1(src="assets/face3.png", alt="")
                        .face-text
                            .font-semi-bold.text-white 
                                |Xuất hiện nếp nhăn 
                                br
                                |ở khóe mắt, khóe môi
                    .face-item
                        .face-img
                            img.face1(src="assets/face5.png", alt="")
                        .face-text
                            .font-semi-bold.text-white 
                                |Da chạy xệ, 
                                br
                                |mất độ đàn hồi
                    .face-item
                        .face-img
                            img.face1(src="assets/face1.png", alt="")
                        .face-text
                            .font-semi-bold.text-white 
                                |Sức khỏe giảm sút 
                                br
                                |so với tuổi 20
                    .face-item
                        .face-img
                            img.face1(src="assets/face2.png", alt="")
                        .face-text
                            .font-semi-bold.text-white Da thô ráp, xỉn màu
                    .face-item
                        .face-img
                            img.face1(src="assets/face4.png", alt="")
                        .face-text
                            .font-semi-bold.text-white Xuất hiện sạm nám
                    .face-item
                        .face-img
                            img.face1(src="assets/face6.png", alt="")
                        .face-text
                            .font-semi-bold.text-white Xương khớp suy yếu
            .row.width-md-80
                .col
                    .article
                        .article_title
                            h1.text-gold Nguyên nhân
                        .article_content.text-white
                                p Chủ yếu do mật độ collagen trong cơ thể mất dần qua thời gian
                .col
                    a.btn.btn-primary.mt-2(href="tel:0966680953")
                        svg.call-icon.x2(viewBox='0 0 37.22 37.22')
                                path(d='M18.61,2.33A16.28,16.28,0,1,1,2.33,18.61,16.29,16.29,0,0,1,18.61,2.33m0-2.33A18.61,18.61,0,1,0,37.22,18.61,18.61,18.61,0,0,0,18.61,0ZM29,24.83l-.1-.32a3,3,0,0,0-1.8-1.7l-2.75-.75a2.7,2.7,0,0,0-2.36.62l-1,1a10.54,10.54,0,0,1-7.43-7.43l1-1a2.7,2.7,0,0,0,.62-2.36l-.75-2.75a2.94,2.94,0,0,0-1.7-1.8l-.32-.1a2.46,2.46,0,0,0-2.32.55L8.58,10.28a2.71,2.71,0,0,0-.44,1A17.57,17.57,0,0,0,25.87,29.07a2.61,2.61,0,0,0,1.07-.43l1.49-1.49A2.46,2.46,0,0,0,29,24.83Z')
                        span 
                            |Tư vấn riêng
                            br
                            |về làn da
            .row.width-md-80
                .col.circle-care
                    img(src="assets/circle-care.png", alt="")
            .row.mb-7
                .col
                    img.pr-2(src="assets/chart.svg", alt="")
                .col.d-flex.align-items-end
                    .font-semi-bold.text-uppercase.text-white.text-medium.mb-2.pl-2
                        |Ở độ tuổi 30, lượng collagen đã
                        br
                        span.text-gold.font-black mất đi 1/3 so với độ tuổi 20
    .section-3-extra.mt-5
        img.hoamai1(src="assets/hoamai.svg" alt="")
        img.hoamai2(src="assets/hoamai.svg" alt="")
        img.hoamai3(src="assets/hoamai.svg" alt="")
        img.hoamai4(src="assets/hoamai.svg" alt="")
        img.hoamai5(src="assets/hoamai.svg" alt="")
        img.hoamai6(src="assets/hoamai.svg" alt="")
        img.hoamai7(src="assets/hoamai.svg" alt="")
        img.daylua-tr(src="assets/daylua-tr.svg" alt="")
        img.daylua-p(src="assets/daylua-p.svg" alt="")
        .container
            .row
                .col
                    .step_num.mt-3
                        img(src="assets/step3.svg", alt="")
                .col.text-uppercase.font-bold.text-blue.text-medium.mt-4
                    |“Nước thần” 82x Collagen và Placenta
                    br
                    |chính là giải pháp toàn năng gúp trẻ hóa
                    br
                    |tế bào da và ngăn ngừa lão hóa.
            .row.width-md-80.mt-5
                .col.font-bold.text-blue.text-medium.text-center.mt-4 Công thức trẻ hóa làn da, ngăn ngừa lão hóa
            .row.justify-content-center.align-items-start.my-5
                .item-wrapper
                    .img-circle
                        img(src="assets/icon-3-7.svg", alt="")
                    .item-text Collagen
                .img-add +
                .item-wrapper
                    .img-circle
                        img(src="assets/icon-3-8.svg", alt="")
                    .item-text Vitamin E
                .img-add +
                .item-wrapper
                    .img-circle
                        img(src="assets/icon-3-4.svg", alt="")
                    .item-text
                        |Chiết xuất 
                        br
                        |Hoa anh đào
                .img-add +
                .item-wrapper
                    .img-circle
                        img(src="assets/icon-3-2.svg", alt="")
                    .item-text Hyaluronic Acid
            .row.width-md-80.mt-5
                .col.text-center Hàm lượng collagen tối ưu 120.000mg giúp bổ sung lượng collagen cần thiết mỗi ngày để làn da luôn căng mướt, mịn màng. Các tinh chất chống oxy hóa toàn năng gồm Vitamin E, chiết xuất hoa Anh Đào, giúp loại bỏ các gốc tự do gây lão hóa, kết hợp với “khoáng thần” dưỡng ẩm Hyaluronic Acid cho làn da vẻ đẹp không tuổi, bỏ quên thời gian.
            .row.width-md-80.mt-5
                .col.font-bold.text-blue.text-medium.text-center.mt-4 Công thức đánh bật sạm nám
            .row.justify-content-center.align-items-start.my-5
                .item-wrapper
                    .img-circle
                        img(src="assets/icon-3-7.svg", alt="")
                    .item-text Collagen
                .img-add +
                .item-wrapper
                    .img-circle
                        img(src="assets/icon-3-3.svg", alt="")
                    .item-text
                        |Chiết xuất 
                        br
                        |Mầm nho
                .img-add +
                .item-wrapper
                    .img-circle
                        img(src="assets/icon-3-6.svg", alt="")
                    .item-text
                        |Chiết xuất 
                        br
                        |Tổ yến
                .img-add +
                .item-wrapper
                    .img-circle
                        img(src="assets/icon-3-8.svg", alt="")
                    .item-text
                        |Vitamin E
                        br
                        |Nhóm B
            .row.width-md-80.mt-5
                .col.text-center Thành phần Placenta giúp bổ sung "cội nguồn sinh lý nữ" estrogen để ngăn ngừa sạm nám hình thành. Các "thần dược" dưỡng da như chiết xuất mầm nho, tổ yến cùng vitamin E và vitamin nhóm B giúp đánh bật sạm nám từ gốc rễ để làn da sáng đẹp, ửng hồng rạng rỡ thêm mỗi ngày.
            .row.width-md-80.mt-5
                .col.font-bold.text-blue.text-medium.text-center.mt-4 Công thức làn da trắng hồng không tì vết
            .row.justify-content-center.align-items-start.my-5
                .item-wrapper
                    .img-circle
                        img(src="assets/icon-3-7.svg", alt="")
                    .item-text Collagen
                .img-add +
                .item-wrapper
                    .img-circle
                        img(src="assets/icon-3-4.svg", alt="")
                    .item-text
                        |Chiết xuất 
                        br
                        |Hoa anh đào
                .img-add +
                .item-wrapper
                    .img-circle
                        img(src="assets/icon-3-5.svg", alt="")
                    .item-text
                        |Cam
                        br
                        |Nhật Bản
            .row.width-md-80.mt-5
                .col.text-center 82x Sakura chứa hàm lượng collagen đậm đặc giúp cung cấp đủ lượng collagen cho làn da luôn căng tràn sức sống, không còn dấu hiệu của nếp nhăn và chảy xệ. Chiết xuất hoa Anh Đào và cam Nhật Bản là các tinh chất chống oxy hóa tinh túy  nhất từ thiên nhiên Nhật Bản giúp đánh bật các vết sạm nám, tàn nhang, da không đều màu và thiếu sức sống để làn da trắng hồng bật tông không tì vết.
            .row.width-md-80.mt-5
                .col.font-bold.text-blue.text-medium.text-center.mt-4 Công thức tái tạo sức khỏe
            .row.justify-content-center.align-items-start.my-5
                .item-wrapper
                    .img-circle
                        img(src="assets/icon-3-7.svg", alt="")
                    .item-text Collagen
                .img-add +
                .item-wrapper
                    .img-circle
                        img(src="assets/icon-3-9.svg", alt="")
                    .item-text
                        |82 thực vật
                        br
                        |lên men
                .img-add +
                .item-wrapper
                    .img-circle
                        img(src="assets/icon-3-1.svg", alt="")
                    .item-text
                        |Sữa 
                        br
                        |Ong chúa
                .img-add +
                .item-wrapper
                    .img-circle
                        img(src="assets/icon-3-10.svg", alt="")
                    .item-text
                        |Vitamin 
                        br
                        |E, B, D
            .row.width-md-80.mt-5
                .col.text-center Collagen là thành phần cấu tạo không thể thiếu trong các cơ quan của cơ thể chính vì vậy phụ nữ không thể bỏ qua việc bổ sung collagen. 82 thành phần thực vật lên men tạo ra các enzym thiết yếu cho cơ thể, cải thiện hệ tiêu hóa và loại bỏ độc tố, giúp thanh lọc cơ thể hiệu quả. Sữa ong chúa và các vitamin E, vitamin nhóm B giúp cung cấp vi chất cần thiết để tăng sức đề kháng và khôi phục sức khỏe vô biên cho cơ thể ở bất kì độ tuổi nào.
            .row.width-md-80.mt-5
                .col.font-bold.text-blue.text-medium.text-center.mt-4 Công thức Detox cơ thể, mặt gọn dáng thon
            .row.justify-content-center.align-items-start.my-5
                .item-wrapper
                    .img-circle
                        img(src="assets/icon-3-12.svg", alt="")
                    .item-text 
                        |82 thực vật 
                        br
                        |lên men 
                .img-add +
                .item-wrapper
                    .img-circle
                        img(src="assets/icon-3-13.svg", alt="")
                    .item-text
                        |Bột 
                        br
                        |cốt dừa
                .img-add +
                .item-wrapper
                    .img-circle
                        img(src="assets/icon-3-14.svg", alt="")
                    .item-text
                        |Xoài 
                        br
                        |Châu Phi
            .row.width-md-80.mt-5
                .col.text-center 82 thành phần thực vật lên men trong 82x Sakura giúp cung cấp các enzym có lợi giúp thanh lọc cơ thể hiệu quả, loại bỏ mỡ thừa ở các vùng bụng, eo, đùi, bắp tay, cải thiện hệ tiêu hóa và hệ miễn dịch, trẻ hóa hệ tuần hoàn của cơ thể. Thành phần Xoài Châu Phi và bột cốt dừa giúp kiềm chế cơn thèm ăn và tạo cảm giác nhanh no, để phụ nữ nhanh chóng lấy lại cơ thể săn chắc, gọn gàng và quyến rũ.
            .row.width-md-80.mt-5
                .col.font-bold.text-blue.text-medium.text-center.mt-4 Công thức hồi sinh collagen tự thân
            .row.justify-content-center.align-items-start.my-5
                .item-wrapper
                    .img-circle
                        img(src="assets/icon-3-7.svg", alt="")
                    .item-text Collagen
                .img-add +
                .item-wrapper
                    .img-circle
                        img(src="assets/icon-3-2.svg", alt="")
                    .item-text
                        |Hyaluronic 
                        br
                        |Acid 
                .img-add +
                .item-wrapper
                    .img-circle
                        img(src="assets/icon-3-8.svg", alt="")
                    .item-text
                        |Vitamin C, E
            .row.width-md-80.mt-5
                .col.text-center Collagen kết hợp với “khoáng thần” dưỡng ẩm Hyalorunic Acid và vitamin C, E dồi dào trong thành phần hoa quả lên men chính là công thức kì diệu giúp hồi sinh collagen tự nhiên bên trong cơ thể. Ngoài việc bổ sung lượng collagen thiếu hụt sau tuổi 25, cơ chế thúc đẩy sản sinh collagen tự thân chính là chìa khóa giúp trẻ hóa làn da và vóc dáng như thời thiếu nữ.
            .row.width-md-80.mt-5
                .col.font-bold.text-blue.text-medium.text-center.mt-4 Công thức hồi sinh nội tiết tự thân
            .row.justify-content-center.align-items-start.my-5
                .item-wrapper
                    .img-circle
                        img(src="assets/icon-3-11.svg", alt="")
                    .item-text Placenta
                .img-add +
                .item-wrapper
                    .img-circle
                        img(src="assets/icon-3-7.svg", alt="")
                    .item-text
                        |Collagen 
                .img-add +
                .item-wrapper
                    .img-circle
                        img(src="assets/icon-3-10.svg", alt="")
                    .item-text
                        |Vitamin 
                        br
                        |E, B, D
            .row.width-md-80.mt-5
                .col.text-center Placenta kết hợp cùng collagen và các vitamin thiết yếu như E, B, D chứa trong 82x Placenta chính là công thức hoàn hảo giúp bổ sung và kích thích cơ thể bù đắp và cân bằng nội tiết tố nữ tự nhiên từ bên trong. Nội tiết tố nữ cân bằng chính  là cán cân quyết định vẻ đẹp của làn da, vóc dáng, sức khỏe, và tâm sinh lý nữ để phụ nữ ở bất kì độ tuổi nào cũng luôn phơi phới sắc xuân.
            .row.width-md-80.mt-5.mb-7
                .col
                    .form-group.text-center
                        a.btn.btn-primary(href="tel:0966680953")
                            svg.call-icon(viewBox='0 0 37.22 37.22')
                                path(d='M18.61,2.33A16.28,16.28,0,1,1,2.33,18.61,16.29,16.29,0,0,1,18.61,2.33m0-2.33A18.61,18.61,0,1,0,37.22,18.61,18.61,18.61,0,0,0,18.61,0ZM29,24.83l-.1-.32a3,3,0,0,0-1.8-1.7l-2.75-.75a2.7,2.7,0,0,0-2.36.62l-1,1a10.54,10.54,0,0,1-7.43-7.43l1-1a2.7,2.7,0,0,0,.62-2.36l-.75-2.75a2.94,2.94,0,0,0-1.7-1.8l-.32-.1a2.46,2.46,0,0,0-2.32.55L8.58,10.28a2.71,2.71,0,0,0-.44,1A17.57,17.57,0,0,0,25.87,29.07a2.61,2.61,0,0,0,1.07-.43l1.49-1.49A2.46,2.46,0,0,0,29,24.83Z')
                            | Tôi muốn mua ngay
            .line-seperate
    .section-3.mt-5
        img.hoamai1(src="assets/hoamai.svg" alt="")
        img.hoamai2(src="assets/hoamai.svg" alt="")
        img.hoamai3(src="assets/hoamai.svg" alt="")
        img.daylua-tr(src="assets/daylua-tr.svg" alt="")
        img.daylua-p(src="assets/daylua-p.svg" alt="")
        .container.mt-5
            .row
                .col
                    .step_num.mt-3#sec3
                        img(src="assets/step4.svg", alt="")
                .col.pt-3
                    a.btn.btn-primary(href="tel:0966680953")
                        svg.call-icon.x2(viewBox='0 0 37.22 37.22')
                                path(d='M18.61,2.33A16.28,16.28,0,1,1,2.33,18.61,16.29,16.29,0,0,1,18.61,2.33m0-2.33A18.61,18.61,0,1,0,37.22,18.61,18.61,18.61,0,0,0,18.61,0ZM29,24.83l-.1-.32a3,3,0,0,0-1.8-1.7l-2.75-.75a2.7,2.7,0,0,0-2.36.62l-1,1a10.54,10.54,0,0,1-7.43-7.43l1-1a2.7,2.7,0,0,0,.62-2.36l-.75-2.75a2.94,2.94,0,0,0-1.7-1.8l-.32-.1a2.46,2.46,0,0,0-2.32.55L8.58,10.28a2.71,2.71,0,0,0-.44,1A17.57,17.57,0,0,0,25.87,29.07a2.61,2.61,0,0,0,1.07-.43l1.49-1.49A2.46,2.46,0,0,0,29,24.83Z')
                        span 
                            |Tư vấn riêng
                            br
                            |về làn da
            .row.width-md-80
                .col.text-uppercase.font-bold.text-blue.text-medium.mt-4
                    |Chỉ 1 phút mỗi ngày, sau 2-4 tuần, 
                    br
                    |làn da của bạn được hồi sinh
            .row.width-md-80
                .col
                     .face.four-items-row
                        .face-item
                            .face-img
                                img.face1(src="assets/face-2-3.png", alt="")
                            .face-title Sau 1 tuần
                            .face-text
                                .font-semi-bold Da mềm mịn
                        .face-item
                            .face-img
                                img.face1(src="assets/face-2-4.png", alt="")
                            .face-title Sau 2 tuần
                            .face-text
                                .font-semi-bold 
                                    |Da dần trắng sáng, 
                                    br
                                    |mờ nám tàn nhang
                        .face-item
                            .face-img
                                img.face1(src="assets/face-2-1.png", alt="")
                            .face-title Sau 3 tuần
                            .face-text
                                .font-semi-bold 
                                    |Các nếp nhăn khoé mắt, 
                                    br
                                    |miệng nhạt dần
                        .face-item
                            .face-img
                                img.face1(src="assets/face-2-2.png", alt="")
                            .face-title Sau 4 tuần
                            .face-text
                                .font-semi-bold 
                                    |Da săn chắc, 
                                    br
                                    |căng bóng rõ rệt
            .row
                .col
                    img.pr-2(src="assets/chart-2.svg", alt="")
    .section-4
        .container.py-5.pt-spec
            .row
                .col
                    .step_num.mt-3.text-left#sec4
                        img(src="assets/step5.svg", alt="")
            .row.width-md-80
                .col
                     .face.medal
                        .face-item
                            .face-img
                                img.face1(src="assets/medal1.png", alt="")
                            .face-textsrc
                                .font-semi-bold.text-white
                                    |Trên 100.000 phụ nữ
                                    br
                                    | Nhật Bản và trên thế 
                                    br
                                    |giới tin dùng
                        .face-item
                            .face-img
                                img.face1(src="assets/medal2.png", alt="")
                            .face-text
                                .font-semi-bold.text-white
                                    |Được cấp phép 
                                    br
                                    |VSATTP bởi Bộ Y tế
                        .face-item
                            .face-img
                                img.face1(src="assets/medal3.png", alt="")
                            .face-text
                                .font-semi-bold.text-white
                                    |100% thành phần từ 
                                    br
                                    |thiên nhiên, an toàn 
                                    br
                                    |cho cơ thể 
            .line-seperate
            .row.py-5
                .col
                    .step_num.mt-3.text-left#sec5
                        img(src="assets/step6.svg", alt="")
            
            .container.py-5
                .owl-carousel.owl-theme
                    .item
                        .comment
                            .comment-img
                                img(src="assets/hh-1.png", alt="")
                            .comment_title Á Hậu Huyền My
                            .comment_pos HHHVVN 2014
                            .comment_content “Mình đã “nghiền” thức uống này giờ đến mẹ mình cũng “nghiện” luôn. Hai mẹ con cùng uống, cùng khỏe và cùng xinh đẹp. Mình tặng mẹ món quà 82x để đồng hành cùng My trên chặng đường tiếp theo.”
                    .item
                        .comment
                            .comment-img
                                img(src="assets/hh-2.png", alt="")
                            .comment_title Á Hậu Tú Anh
                            .comment_pos HHHVVN 2014
                            .comment_content “Đây là chai nước uống luôn có trong tủ lạnh là Tú Anh. 82x collagen là bí kíp giúp Tú Anh nuôi dưỡng và chăm sóc da trắng mịn từ sâu bên trong, và còn giúp cho Tú Anh có thật nhiều năng lượng để làm việc nữa.”
                    .item
                        .comment
                            .comment-img
                                img(src="assets/hh-3.png", alt="")
                            .comment_title Tâm Tít
                            .comment_pos MC, Ca sĩ
                            .comment_content “Sau khi sinh em bé thứ 2 thì da Tâm không còn giữ được phong độ như trước nữa. Đó là điều khiến Tâm cảm thấy lo lắng, và Tâm đã sử dụng 82x thì hiệu quả quá bất ngờ. Chỉ sau 4 tuần làn da Tâm đã trắng sáng hơn rất nhiều”
                    .item
                        .comment
                            .comment-img
                                img(src="assets/hh-4.png", alt="")
                            .comment_title Lan Phương
                            .comment_pos Diễn viên
                            .comment_content “Nhờ việc sử dụng nước uống 82X, Phương đã nhanh chóng loại bỏ các vấn đề về da cho phụ nữ sau sinh như việc da thâm sạm, không đều màu, kém săn chắc... Không những thế, nước uống 82X bổ sung các dưỡng chất cần thiết, chắm sóc sức khoẻ để Phương luôn có năng lượng dồi dào”
            .line-seperate
            .row.py-5
                .col
                    .step_num.mt-3.text-left#sec6
                        img(src="assets/step7.svg", alt="")
            .row.buying
                .col
                    .transport
                        .transport-item
                            img(src="assets/buying1.png", alt="")
                            span.text-white Giao hàng toàn quốc
                        .hr
                        .transport-item
                            img(src="assets/buying2.png", alt="")
                            span.text-white Freeship
                        .hr
                        .transport-item
                            img(src="assets/buying3.png", alt="")
                            span.text-white Được hoàn trả nếu sản phẩm không còn nguyên vẹn
                .col
                    .promotion
                        img(src="assets/gift.png", alt="")
            .row.mt-7.width-md-80
                .col
                    .font-bold-italic.text-white.text-semi-big Đừng bỏ lỡ
                    h1.hotline.font-black-italic Cơ hội sở hữu thần dược
                    .font-bold-italic.text-white.text-semi-big Giúp làn da bạn trẻ hơn 10 tuổi
            .row.mt-7.width-md-80
                .col
                    .time-wrapper
                        .time-item
                            #timeDay.time-frame
                            .time-text DAYS
                        .time-item
                            #timeHour.time-frame
                            .time-text HOURS
                        .time-item
                            #timeMin.time-frame
                            .time-text MINUTES
                        .time-item
                            #timeSec.time-frame
                            .time-text SECONDS
            .row.width-md-80
                .col
                    .form-group.text-center
                        a.btn.btn-primary(href="tel:0966680953")
                            svg.call-icon(viewBox='0 0 37.22 37.22')
                                path(d='M18.61,2.33A16.28,16.28,0,1,1,2.33,18.61,16.29,16.29,0,0,1,18.61,2.33m0-2.33A18.61,18.61,0,1,0,37.22,18.61,18.61,18.61,0,0,0,18.61,0ZM29,24.83l-.1-.32a3,3,0,0,0-1.8-1.7l-2.75-.75a2.7,2.7,0,0,0-2.36.62l-1,1a10.54,10.54,0,0,1-7.43-7.43l1-1a2.7,2.7,0,0,0,.62-2.36l-.75-2.75a2.94,2.94,0,0,0-1.7-1.8l-.32-.1a2.46,2.46,0,0,0-2.32.55L8.58,10.28a2.71,2.71,0,0,0-.44,1A17.57,17.57,0,0,0,25.87,29.07a2.61,2.61,0,0,0,1.07-.43l1.49-1.49A2.46,2.46,0,0,0,29,24.83Z')
                            | Tôi muốn mua ngay
    .footer
        .container
            .row.align-items-end
                .col
                    h1.font-bold.text-white.text-large.my-3 Liên hệ
                    .font-semi-bold-italic.mt-2.text-white.text-medium 8X sẵn sàng giải đáp mọi thắc mắc của bạn
                    h1.hotline.font-black-italic.mb-4 Hotline: 0966 680 853
                    .form-group
                        a.btn.btn-primary(href="tel:0966680953")
                            svg.call-icon(viewBox='0 0 37.22 37.22')
                                path(d='M18.61,2.33A16.28,16.28,0,1,1,2.33,18.61,16.29,16.29,0,0,1,18.61,2.33m0-2.33A18.61,18.61,0,1,0,37.22,18.61,18.61,18.61,0,0,0,18.61,0ZM29,24.83l-.1-.32a3,3,0,0,0-1.8-1.7l-2.75-.75a2.7,2.7,0,0,0-2.36.62l-1,1a10.54,10.54,0,0,1-7.43-7.43l1-1a2.7,2.7,0,0,0,.62-2.36l-.75-2.75a2.94,2.94,0,0,0-1.7-1.8l-.32-.1a2.46,2.46,0,0,0-2.32.55L8.58,10.28a2.71,2.71,0,0,0-.44,1A17.57,17.57,0,0,0,25.87,29.07a2.61,2.61,0,0,0,1.07-.43l1.49-1.49A2.46,2.46,0,0,0,29,24.83Z')
                            |Mua ngay
                .col
                    p.text-white.my-3
                        |Để lại thông tin để nhận được
                        br
                        |tư vấn về da miễn phí
                    form
                        .form-group
                            input.form-control.text-white(type="text" placeholder="Họ và tên")
                            input.form-control.text-white(type="text" placeholder="Ngày tháng năm sinh")
                        .form-group
                            input.form-control.text-white(type="email" placeholder="Email")
                        .form-group
                            input.form-control.text-white(type="text" placeholder="Số điện thoại")
                        .form-group
                            input.form-control.text-white(type="text" placeholder="Địa chỉ")
                        .form-group-inline
                            input(type="checkbox")
                            label.text-white Email me about new features
                        .form-group
                            button.btn.btn-primary.w-100.text-center(type="submit") Đăng kí
    .call-now
        a.btn.btn-primary(href="tel:0966680953")
            svg.call-icon.x2(viewBox='0 0 37.22 37.22')
                path(d='M18.61,2.33A16.28,16.28,0,1,1,2.33,18.61,16.29,16.29,0,0,1,18.61,2.33m0-2.33A18.61,18.61,0,1,0,37.22,18.61,18.61,18.61,0,0,0,18.61,0ZM29,24.83l-.1-.32a3,3,0,0,0-1.8-1.7l-2.75-.75a2.7,2.7,0,0,0-2.36.62l-1,1a10.54,10.54,0,0,1-7.43-7.43l1-1a2.7,2.7,0,0,0,.62-2.36l-.75-2.75a2.94,2.94,0,0,0-1.7-1.8l-.32-.1a2.46,2.46,0,0,0-2.32.55L8.58,10.28a2.71,2.71,0,0,0-.44,1A17.57,17.57,0,0,0,25.87,29.07a2.61,2.61,0,0,0,1.07-.43l1.49-1.49A2.46,2.46,0,0,0,29,24.83Z')
block script-append
    script.
        //- $("img.lazy")load({
        //-     threshold : 200
        //- });
        $(document).ready(function() {
            var owl = $('.owl-carousel');
                owl.owlCarousel({
                items: 3,
                loop: true,
                margin: 10,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplayHoverPause: true,
                center: true,
                 responsive:{
                    0:{
                        items:1
                    },
                    768:{
                        items:2
                    },
                    992:{
                        items:3
                    }
                }
            });
        })
        $(document).ready(function(){
            $(this).scrollTop(0);
        });
    